Raspberry-CPU-Monitor.json
[{"id":"eda02b65.ed76a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6a2502eb.f99eec","type":"exec","z":"eda02b65.ed76a8","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Raspberryn prosessorin lämpötila","x":260,"y":120,"wires":[["60a6834f.1286ac"],[],[]]},{"id":"7bee57d5.34fab","type":"inject","z":"eda02b65.ed76a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":60,"wires":[["6a2502eb.f99eec"]]},{"id":"60a6834f.1286ac","type":"function","z":"eda02b65.ed76a8","name":"Asteluvun erotus syötteestä","func":"str = msg.payload;\nmsg.payload = Number(str.substring(5,9));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":100,"wires":[["dd1a919b.67ad48","18ff9db2.b077e2","b18d30ef.1af228"]]},{"id":"dd1a919b.67ad48","type":"ui_gauge","z":"eda02b65.ed76a8","name":"","group":"495cb273.870cd4","order":0,"width":0,"height":0,"gtype":"gage","title":"Raspberry lämpötila","label":"C","format":"{{value}}","min":"20","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":60,"wires":[]},{"id":"18ff9db2.b077e2","type":"ui_chart","z":"eda02b65.ed76a8","name":"","group":"495cb273.870cd4","order":1,"width":0,"height":0,"label":"Muutokset lämpötilassa","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":870,"y":100,"wires":[[]]},{"id":"b18d30ef.1af228","type":"function","z":"eda02b65.ed76a8","name":"Asteluvulle aikaleima ","func":"var today = new Date();\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\n\nmsg.payload = date + \" \" + time + \", \" + msg.payload + \" C\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":180,"wires":[["3e53f2d7.63eaee"]]},{"id":"3e53f2d7.63eaee","type":"ui_text","z":"eda02b65.ed76a8","group":"495cb273.870cd4","order":2,"width":0,"height":0,"name":"Sivustolle aikaleimalla varustettu lämpötila","label":"","format":"{{msg.payload}}","layout":"row-left","x":850,"y":180,"wires":[]},{"id":"495cb273.870cd4","type":"ui_group","name":"Raspberry Dashboard","tab":"b7f18419.4a3f7","order":1,"disp":true,"width":"6","collapse":false},{"id":"b7f18419.4a3f7","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]