VR-seuranta-WorldMap.json
[{"id":"1b18dc62.bd1f64","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"30ab98.7bc53468","type":"mqtt in","z":"1b18dc62.bd1f64","name":"","topic":"/hfp/v2/journey/ongoing/vp/#","qos":"2","datatype":"auto","broker":"de4921be.351b9","x":140,"y":60,"wires":[["1aa10182.afa4b6"]]},{"id":"f6a4f4a2.e86248","type":"debug","z":"1b18dc62.bd1f64","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":340,"wires":[]},{"id":"b6cb67b2.ca7208","type":"mqtt in","z":"1b18dc62.bd1f64","name":"","topic":"/hfp/v2/journey/ongoing/vp/train/+/+/3002L/#","qos":"2","datatype":"auto","broker":"de4921be.351b9","x":190,"y":220,"wires":[["81553b75.18bf4"]]},{"id":"e5aa4970.1659","type":"mqtt in","z":"1b18dc62.bd1f64","name":"","topic":"/hfp/v2/journey/ongoing/vp/train/+/01023/+/#","qos":"2","datatype":"auto","broker":"de4921be.351b9","x":190,"y":340,"wires":[["f6a4f4a2.e86248","e308209b.7a27e"]]},{"id":"a116386e.af8d28","type":"ui_gauge","z":"1b18dc62.bd1f64","name":"","group":"8aaa5e63.7bd4e","order":3,"width":0,"height":0,"gtype":"gage","title":"Junan nopeus","label":"km/h","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":500,"wires":[]},{"id":"d3937aee.771e08","type":"json","z":"1b18dc62.bd1f64","name":"","property":"payload","action":"","pretty":false,"x":170,"y":440,"wires":[["2c190419.1b5a14","ca1b00c0.fe784"]]},{"id":"2c190419.1b5a14","type":"change","z":"1b18dc62.bd1f64","name":"Nopeus","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.VP.spd","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":500,"wires":[["aa136b30.65ea4"]]},{"id":"aa136b30.65ea4","type":"function","z":"1b18dc62.bd1f64","name":"Math.round(msg.payload * 3,6)","func":"msg.payload = Math.round(msg.payload * 3,6);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":500,"wires":[["a116386e.af8d28"]]},{"id":"b6aedc5.3baf32","type":"ui_text","z":"1b18dc62.bd1f64","group":"8aaa5e63.7bd4e","order":1,"width":0,"height":0,"name":"Junan kirjain","label":"Juna: ","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":540,"wires":[]},{"id":"2c38fd0b.7cae92","type":"worldmap","z":"1b18dc62.bd1f64","name":"","lat":"60.19","lon":"24.65","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":780,"y":140,"wires":[]},{"id":"6413218f.ee2be8","type":"function","z":"1b18dc62.bd1f64","name":"","func":"var junakirjain = \"\";\nvar suunta = \"\";\n\nif (msg.payload.VP.dir == 1) {\n    suunta = \"Espoo\";\n} else if (msg.payload.VP.dir == 2) {\n    suunta = \"Helsinki\";\n} \n\nif (msg.payload.VP.desi == \"L\") {\n    junakirjain = \"L \" + msg.payload.VP.veh + \" kohti: \" + suunta;\n} else if (msg.payload.VP.desi == \"U\") {\n    junakirjain = \"U \"  + msg.payload.VP.veh + \" kohti: \" + suunta; \n} else if (msg.payload.VP.desi == \"E\") {\n    junakirjain = \"E \" + msg.payload.VP.veh + \" kohti: \" + suunta;\n} else {\n    junakirjain = \"Tuntematon juna \";\n}\n\nsijainti = { \"name\": junakirjain, \"lat\":msg.payload.VP.lat, \"lon\":msg.payload.VP.long, \n            icon: \"fa-train\", iconColor:'#0000FF'};\n\nmsg.payload = sijainti;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":100,"wires":[["2c38fd0b.7cae92","c7673f1f.716b1"]]},{"id":"c7673f1f.716b1","type":"debug","z":"1b18dc62.bd1f64","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":80,"wires":[]},{"id":"79cbfd4c.4b4244","type":"json","z":"1b18dc62.bd1f64","name":"","property":"payload","action":"","pretty":false,"x":610,"y":220,"wires":[["6413218f.ee2be8"]]},{"id":"88f41e93.7ca838","type":"mqtt in","z":"1b18dc62.bd1f64","name":"","topic":"/hfp/v2/journey/ongoing/vp/train/+/+/3002U/#","qos":"2","datatype":"auto","broker":"de4921be.351b9","x":190,"y":280,"wires":[["81553b75.18bf4"]]},{"id":"7919aadd.1bee34","type":"mqtt in","z":"1b18dc62.bd1f64","name":"","topic":"/hfp/v2/journey/ongoing/vp/train/+/+/3002E/#","qos":"2","datatype":"auto","broker":"de4921be.351b9","x":190,"y":160,"wires":[["81553b75.18bf4"]]},{"id":"e308209b.7a27e","type":"delay","z":"1b18dc62.bd1f64","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":380,"wires":[["d3937aee.771e08"]]},{"id":"ca1b00c0.fe784","type":"function","z":"1b18dc62.bd1f64","name":"juna = nimi.VP.desi + \" \" + nimi.VP.veh;","func":"var nimi;\nvar juna;\n\nnimi = msg.payload;\njuna = nimi.VP.desi + \" \" + nimi.VP.veh;\n\nmsg.payload = juna;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":540,"wires":[["b6aedc5.3baf32"]]},{"id":"5394c99a.00b408","type":"mqtt in","z":"1b18dc62.bd1f64","name":"","topic":"/hfp/v2/journey/ongoing/vp/train/+/+/3002A/#","qos":"2","datatype":"auto","broker":"de4921be.351b9","x":190,"y":100,"wires":[[]]},{"id":"81553b75.18bf4","type":"delay","z":"1b18dc62.bd1f64","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":220,"wires":[["79cbfd4c.4b4244"]]},{"id":"1aa10182.afa4b6","type":"debug","z":"1b18dc62.bd1f64","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":60,"wires":[]},{"id":"de4921be.351b9","type":"mqtt-broker","name":"HSL","broker":"mqtt://mqtt.hsl.fi","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8aaa5e63.7bd4e","type":"ui_group","name":"HSL","tab":"b7f18419.4a3f7","order":2,"disp":true,"width":"6","collapse":false},{"id":"b7f18419.4a3f7","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]